# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Robin Opletal
	email = me@robinopletal.com
[includeIf "gitdir:~/workspace/work/"]
    path = ~/workspace/work/.gitconfig
