# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Robin Opletal
	email = me@robinopletal.com
[gpg]
    program = /opt/homebrew/bin/gpg
[includeIf "gitdir:~/workspace/work/"]
    path = ~/workspace/work/.gitconfig
[core]
	excludesfile = /Users/robin.opletal/.gitignore_global
[push]
	default = current
