# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Robin Opletal
	email = me@robinopletal.com
[gpg]
        program = gpg
[commit]
        gpgsign = true
[tag]
        gpgSign = true
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
